.box {
  display: flex;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: 1px solid black;
  width: 400px;
  height: 800px;
}

.preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid black;
  width: 150px;
  height: 150px;
}

.cell {
  border: 1px solid black;
  border-radius: 4px;
  border-width: 2px;
}


.I { 
  background-color: #95f4ff;
}
.O {
  background-color: #ffff6f;
}
.L  {
  background-color: #850097;
}
.J { 
  background-color: #24970d;
}
.T {
  background-color: #df1600;
}
.Z {
  background-color: #4545ffdc;
}
.S {
  background-color: #ff6d0bcc;
}

.leftColumn {
  display: flex;
  flex-direction: column;
} 

.rightColumn {
  display: flex;
  flex-direction: column;
}

