.box {
  display: flex;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: 1px solid black;
  width: 400px;
  height: 800px;
}

.preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid black;
  width: 150px;
  height: 150px;
}

.cell {
  border: 1px solid black;
}


.I { 
  background-color: #00FFFF;
}
.O {
  background-color: #FFFF00;
}
.L  {
  background-color: #800080;
}
.J { 
  background-color: #008000;
}
.T {
  background-color: #ff0000;
}
.Z {
  background-color: #0000FF;
}
.S {
  background-color: #FBCEB1;
}

.leftColumn {
  display: flex;
  flex-direction: column;
} 

.rightColumn {
  display: flex;
  flex-direction: column;
}

